@()

<!DOCTYPE html>
<html>
    <head>
        <title>Sample App</title>
        <link rel="stylesheet" media="screen" href="@utils.Asset("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@utils.staticAsset("images/favicon.png")">
        <script src="@utils.staticAsset("javascripts/vendors/jquery.js")" type="text/javascript"></script>
        <script src="@utils.staticAsset("javascripts/vendors/native.history.js")" type="text/javascript"></script>
        <script src="@utils.staticAsset("javascripts/vendors/Router.js")" type="text/javascript"></script>
        <script data-main="@utils.Asset("javascripts/main.js")" src="@utils.staticAsset("javascripts/vendors/require.js")"></script>
    </head>
    <body>
    </body>
</html>
