* {
    -webkit-font-smoothing: antialiased
}

body {
    color: black
    font-size: 16px
    margin: 0px auto 0px auto
    width: 600px
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 18px
}$

h4 {
    font-size: 16px
}

a {
    text-decoration: none
    color: #06C

    &:hover {
        text-decoration: underline
    }
}

pre {
    border: 1px solid #6B6B6B
    padding: 0px 0 2px 4px
    margin: 4px 0 4px 0
}

code {
    font-size: 12px
}

li {
    margin: 10px 0 10px 0
}

.task {
    font-weight: 600
}